@import "../../style.scss";

.image_left{
  display: flex;
  flex-direction: row;
}

.image_right{
  display: flex;
  flex-direction: row;
}

.image_top{
  display: flex;
  flex-direction: column;
}

.image_bottom{
  display: flex;
  flex-direction: column;
}

.image_none{
  display: flex;
}