
//常用色值
$c_white:#ffffff;
$c_black:#000000;
$c_bg:#F4F4F6;
$c_clear:#00000000;
$c_warn: #FD5750;
$c_line:#EFEFEF;
$c_transbg:rgba(12,13,14,0.3);
$c_font_dark: #353648;
$c_font_light: #757685;

//常用字体大小
$f_bigger: 36rpx;
$f_big: 32rpx;
$f_normal: 28rpx;
$f_small: 24rpx;
$f_smaller: 20rpx;