@import "../../style.scss";

.btn_light{
    @include btn_light;
    width: 100%;
    height: 100rpx;
}

.btn_dark{
    @include btn_dark;
    width: 100%;
    height: 100rpx;
}

.btn_disable{
    @include btn_disable;
    width: 100%;
    height: 100rpx;
}

.btn_nobg{
    @include btn_nobg;
    width: 100%;
    height: 100rpx;
}

.btn_hover{
    background-color: #EEEEEE!important;
}

.btn_nobg::after{
    border: none;
}